.travel-info {

    
}

.travel-header{
    padding-top: 100px;
    font-weight: 300;
    letter-spacing: 3px;
    padding-bottom: 40px;

}

.travel-page {
    
    background-color: #faf7f5;
    margin-top: 70px;
    font-family: 'Cormorant Garamond', serif;
    height: 100%;


}